services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672" 
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - 5000:5000
    env_file:
      - ./user-service/.env
    volumes:
      - ./user-service:/app
      - /app/node_modules
    command: npm run dev
    depends_on: 
      - mongo

  job-service:
    build: ./job-service
    container_name: job-service
    ports:
      - 5001:5001
    env_file:
      - ./job-service/.env
    volumes:
      - ./job-service:/app
      - /app/node_modules
    command: npm run dev
    depends_on: 
      - mongo

  message-service:
    build: ./message-service
    container_name: message-service
    ports:
      - 5003:5003
    env_file:
      - ./message-service/.env
    volumes:
      - ./message-service:/app
      - /app/node_modules
    command: npm run dev
    depends_on: 
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongo
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:

